<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="NaviNetIssuer" value="CMMTest.com"/>
    
  </appSettings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="IdPLauncher.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>
