<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="CertStoreLocation" value="2" />
    <add key="CertStoreName" value="2" />
    <add key="CertFindMethod" value="2" />
    <add key="CertFileLocation" value="2" />
    <add key="CertPassword" value="2" />
    <add key="CertFindKey" value="2" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--<httpHandlers>
      <add verb="*" path="*" validate="true" type="CoverMyMeds.SAML.ServiceProvider.AssertionConsumerHttpHandler"/>
    </httpHandlers>-->
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="AssertionConsumerHttpHandler" verb="*" path="*.aspx" type="CoverMyMeds.SAML.ServiceProvider.AssertionConsumerHttpHandler"/>
    </handlers>
  </system.webServer>
</configuration>
